<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Unidy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Unidy</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Unidy Ionic</strong>
    <p>Click the button below to start the unidy login process 👇</p>
    <ion-button expand="block" (click)="login()">Login</ion-button>
  </div>
</ion-content>
